*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: 'Inika', serif
    font-style: normal
    font-weight: 400
    color: $beige
    font-size: 25px
h1,h2,h3
    margin: 0
a
    text-decoration: none
.container
    max-width: 1200px
    margin: auto
.block
    display: flex
    justify-content: space-between
