.header
    padding-top: 10px
    background-color: #B39992
    &-logo
        &__text
            font-family: 'Indie Flower'
            font-size: 28px
            margin-top: -5px
            padding-bottom: 5px
    &-menu
        

            